In [1]:
t = (1,2,3)

In [2]:
t

(1, 2, 3)

In [3]:
type(t)

tuple

In [4]:
t = ('one',2)

In [5]:
t

('one', 2)

In [6]:
t[0]

'one'

In [7]:
t = ('a','a',1)

In [8]:
t.count('a')

2

In [10]:
t.index('a')

0

In [11]:
mylist = [1,2,3]

In [12]:
mylist

[1, 2, 3]

In [13]:
t = (1,2,3,4)

In [14]:
t

(1, 2, 3, 4)

In [15]:
mylist[0] = 'one'

In [16]:
mylist

['one', 2, 3]

In [17]:
t[0] = 'one'

TypeError: 'tuple' object does not support item assignment

tuples has imuutability

mainly used in progamming to make sure the datas dont get changes in any stage